.header {
  width : 1728px;
  height: 64px;

  background-color: #FFF;
  background-position: 0% 0%;
  color: #212529;

  font-family: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont,
    -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Apple SD Gothic Neo',
    arial, 나눔고딕, 'Nanum Gothic', 돋움, Tahoma, Geneva, sans-serif;

  font-size: 16px;
  text-decoration: none solid rgb(33,37,41);
  word-spacing: 0px;

  margin: 0 88px 0 88px;
  display: flex;
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(255,0,0) dashed 1px;
  box-sizing: border-box;
}

.logo {
  font-family: "Fira Mono", monospace;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none soild rgb(33,37,41);
  word-spacing: 0px;

  background-color: #FFF;
  background-position: 0% 0%;
}

.colorMode-btn {
  width: 40px;
  height: 40px;
  min-width: auto;
  min-height: auto;

  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  right: 0px;
  display: block;

  font-family: -apple-system, BlinkMacSystemFont "Helvetica Neue", "Apple SD Gothic Neo", 
  "Malgun Gothic", "맑은 고딕", 
  "나눔 고딕", "Nanum Gothic", 
  "Noto Sans KR", "Noto Sans CJK KR";
  font-size: 13.3333px;
  text-decoration: none solid #FFF;
  text-align: center;
  word-spacing: 0px;

  background-color: #EBECED;
  background-position: 0% 0%;
  color: #FFF;

  margin: 0 4px 0 0;
  padding: 1px 6px 1px 6px;
  cursor: pointer;

  transform: none;
  transition: all 0s ease 0s;
  outline: tgb(255,0,0) dashed 1px;
  box-sizing: border-box;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
}